<!-- profile.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>Profile</h1>
        {% if customer.image %}
            <img src="{{ customer.image.url }}" alt="User Image" height="140">
        {% endif %}
        <p>Username: {{ customer.user.username }}</p>
        <p>Phone number: {{ customer.phone_number }}</p>
        <p>Age: {{ customer.age }}</p>
    {% if groups %}
            {% for group in groups %}
              <p>Status: {{ group.name }}</p>
            {% endfor %}
    {% else %}
        <p>Пользователь не принадлежит ни к одной группе.</p>
    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Update</button>
    </form>
</body>
</html>
